<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @DateTime.Today.ToLongDateString()
    @RenderSection("banner")
    @RenderBody()
    @RenderSection("footer", required: false)
</body>
</html>
