@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "CheckBoxes";

    var choices = "";
    var thebutton = Request.Form["formbutton"];
}
@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>CheckBoxes</h1>
}

@if (IsPost)
{
    //determine which button was pressed
    if (thebutton.Equals("clear"))
    {
        choices = "";
    }
    else
    {
        //postpone the collection of the form data
        //    until there is actually a post back
        choices = Request.Form["gamegroup"];
        if (string.IsNullOrEmpty(choices))
        {
            choices = "";
            <p>
                <span style="color:firebrick">
                    <strong>You did not select a gaming platform.</strong>
                </span>
            </p>
        }
        else
        {
            //the result of the input data is a set of
            //   comma separated values in a string
            //we will use the string method .Split(delimiter)
            //   to break apart this set of values
            //   into an Array of strings.
            //delimiter for csv is a character comma (',')
            <p>
                I see you like to use the following platforms:
                <ul>
                    @foreach (var platform in choices.Split(','))
                    {
                        <li>@platform</li>
                    }
                </ul>
            </p>
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-offset-2">
            <label id="gamegroup">Select your favourite gaming platform</label><br />
            <input type="checkbox" id="gamegroup" name="gamegroup"
                   value="PS4"
                   @(Array.IndexOf(choices.Split(','), "PS4") >= 0 ? "checked" : "") />Play Station 4<br />
            <input type="checkbox" id="gamegroup" name="gamegroup"
                   value="PC"
                   @(Array.IndexOf(choices.Split(','), "PC") >= 0 ? "checked" : "") />Computer<br />
            <input type="checkbox" id="gamegroup" name="gamegroup"
                   value="XBoxOne"
                   @(Array.IndexOf(choices.Split(','), "XBoxOne") >= 0 ? "checked" : "") />XBox One<br />
            <input type="checkbox" id="gamegroup" name="gamegroup"
                   value="Switch"
                   @(Array.IndexOf(choices.Split(','), "Switch") >= 0 ? "checked" : "") />Switch<br />
            <input type="checkbox" id="gamegroup" name="gamegroup"
                   value="Cell"
                   @(Array.IndexOf(choices.Split(','), "Cell") >= 0 ? "checked" : "") />Phone<br />
            <input type="checkbox" id="gamegroup" name="gamegroup"
                   value="Ipad"
                   @(Array.IndexOf(choices.Split(','), "Ipad") >= 0 ? "checked" : "") />Ipad<br />

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3">
            <button type="submit" class="btn btn-primary"
                    id="formbutton" name="formbutton" value="submit">
                Submit
            </button>&nbsp;&nbsp;
            <button type="submit" class="btn"
                    id="formbutton" name="formbutton" value="clear">
                Clear
            </button>
        </div>
    </div>
</form>