@{
    Page.Title = "Radio Buttons";
    Layout = "~/_Layout.cshtml";
    //obtain the incoming data values
    var language = Request.Form["languagegroup"];
    var script = Request.Form["scriptgroup"];
    if (language == null)
    {
        language = "";
    }
    if (script == null)
    {
        script = "";
    }
}

@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Radio Buttons</h1>
}

@if (IsPost)
{
    if (language.IsEmpty() || script.IsEmpty())
    {
        <p><span style="color:firebrick">Make a selection from both coding and scripting</span></p>
    }
    else
    {
        //validation has passed
        if (language.Equals("C#", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will greatly enjoy the CPSC1517 as we use C#.</p>
        }
        else
        {
            <p>Too bad, the CPSC1517 course uses C#.</p>
        }
        if (script.Equals("Razor", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will greatly enjoy the CPSC1517 as we use Razor.</p>
        }
        else
        {
            <p>Too bad, the CPSC1517 course uses Razor.</p>
        }
    }
}

<!-- what makes a radio button group is the fact that the id=parameter is the same on each control
     if you wish to have multiple radiobutton groups on your form, then each group gets a unique ID-->
<form id="theform" method="post">
    <div class="row">
        <div class="col-md-offset-2">
            <label id="languagegroup">
                Select your favorite programming language
            </label><br />
            <input type="radio" id="languagegroup" name="languagegroup" value="C#" checked="@(language.Equals("C#") ? true : false)" />C#<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="VB" checked="@(language.Equals("VB") ? true : false)" />Visual Basic<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="ObjectiveC" checked="@(language.Equals("ObjectiveC") ? true : false)" />Objective-C<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="Cobol" checked="@(language.Equals("Cobol") ? true : false)" />Cobol<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="Fortran" checked="@(language.Equals("Fortran") ? true : false)" />Fortran<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="Pascal" checked="@(language.Equals("Pascal") ? true : false)" />Pascal<br />
            <br />
            <label id="scriptgroup">
                Select your favorite scripting code
            </label><br />
            <input type="radio" id="scriptgroup" name="scriptgroup" value="JS" checked="@(script.Equals("JS") ? true : false)" />Javascript<br />
            <input type="radio" id="scriptgroup" name="scriptgroup" value="Razor" checked="@(script.Equals("Razor") ? true : false)" />Razor<br />
            <input type="radio" id="scriptgroup" name="scriptgroup" value="PHP" checked="@(script.Equals("PHP") ? true : false)" />PHP<br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3">
            <button type="submit" class="btn btn-primary" id="formbutton" name="formbutton" value="submit">
                Submit
            </button>
        </div>
    </div>
</form>